@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container-fruit {
    height: 100vh;
    width: 100%;
    display: flex;
}

.red,
.orange,
.yellow,
.green,
.blue,
.green2,
.purple {
    background-color: white;
    box-shadow: -8px 0px 30px #dfdfdf;
    height: 100vh;
    width: 100%;
    border-radius: 0px 80px 0px 80px;
    transition: 0.4s ease-out;
    position: relative;
    cursor: pointer;
}

.hlg,
.banana,
.juzi,
.siga,
.kiwi,
.lanmei,
.grape {
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 40px;
}

.container-fruit a {
    text-decoration: none;
}

.hlg h2, .juzi h2,.banana h2,.siga h2,.kiwi h2,.lanmei h2,.grape h2{
    padding-top: 150px;
    padding-left: 30px;
    font-size: 30px;
}

.hlg h2{
    color:#EA5253;
}
.juzi h2{
    color: #FE7250;
}
.banana h2{
    color:#FED361;
}
.siga h2{
    color:#8fc43a;
}
.kiwi h2{
    color:#919b3a;
}
.lanmei h2{
    color:#1f76a1;
}
.grape h2{
    color:#a548d8;
}


.hlg ul,
.juzi ul,
.banana ul,
.siga ul,
.kiwi ul,
.lanmei ul,
.grape ul {
    padding-top: 50px;
    color: #8f8f8f;
    line-height: 55px;
    padding-left: 50px;
    font-weight: bold;

}

.hlg ul span {
    color: #EA5253;

}

.juzi ul span {
    color: #FF7A45;
}

.banana ul span {
    color:#FED361;
}

.siga ul span {
    color:#8fc43a;
}

.kiwi ul span {
    color:#919b3a;
}

.lanmei ul span {
    color:#1f76a1;
}

.grape ul span {
    color: #a548d8;
}


.banana {
    background-image: url("./img/banana-s.png");

}

.juzi {
    background-image: url("./img/orange-s.png");
}

.hlg {
    background-image: url("./img/hlg-s.png");
}

.siga {
    background-image: url("./img/siga-s.png");
}

.lanmei {
    background-image: url("./img/lanmei-s.png");
}

.kiwi {
    background-image: url("./img/kiwi-s.png");
}

.grape {
    background-image: url("./img/grape-s.png");
}

.red:not(:first-child),
.orange:not(:first-child),
.yellow:not(:first-child),
.green:not(:first-child),
.blue:not(:first-child),
.green2:not(:first-child),
.purple:not(:first-child) {
    margin-left: -5px;
}

.red:hover,
.orange:hover,
.yellow:hover,
.green:hover,
.blue:hover,
.green2:hover,
.purple:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.red:hover~.red,
.orange:hover~.orange,
.yellow:hover~.yellow,
.green:hover~.green,
.blue:hover~.blue,
.green2:hover~.green2,
.purple:hover~.purple {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}