* {
  font-family: 微軟正黑體;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-logo img{
  width: 150px;
    height: 150px;
    margin: 30px 860px ;
    }


  .container {
    height: 800px;
    width: 100%;
    top: 300px;
    display: flex;
  }
  
  .red,.orange,.yellow,.green,.blue,.green2,.purple{
    display: flex;
    height: 800px;
    width: 100%;
    border-radius: 50px 0px 0px 0px;
    transition: 0.4s ease-out;
    position: relative;
    cursor:pointer;
    background-size: cover;
  background-repeat: no-repeat;
  }
  

  .red:not(:first-child),
  .orange:not(:first-child),
  .yellow:not(:first-child),
  .green:not(:first-child),
  .blue:not(:first-child),
  .green2:not(:first-child),
  .purple:not(:first-child) {
      margin-left: -50px;
  }
  
  .red:hover,
  .orange:hover,
  .yellow:hover,
  .green:hover,
  .blue:hover,
  .green2:hover,
  .purple:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .red:hover ~ .red,
  .orange:hover ~ .orange,
  .yellow:hover ~ .yellow,
  .green:hover ~ .green,
  .blue:hover ~ .blue,
  .green2:hover ~ .green2,
  .purple:hover ~ .purple {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

.red{
  background-image: url(./img/DF.jpg);
}
 
.orange{
  background-color:#F27124;
}
  
.yellow{
  background-image: url(./img/Banana-1.jpg);
}

.green{
  background-image: url(./img/SIGA.jpg);
}

.green2{
  background-color: #9EBA35;
}

.blue{
  background-color: #4684B3;
}


.purple{
  background-color: #6C526E;
}