* {
  font-family : 微軟正黑體 ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LOGO */
.logo img {
width: 150px;
height: 150px;
margin: 60px;
}

/* 菜單背景 */
header nav {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* 菜單選項 */
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 170px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
header nav ul li {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}
header nav ul li a {
  display: block;
  font-size: 40px;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  color: rgb(226, 226, 226);
  font-weight: 200;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header nav ul li a:hover {
  color: #ffe552;
}

/* 菜單按鈕位置 */
.menu-btn {
  display: block;
  position: fixed;
  z-index: 10;
  right: 100px;
  top: 80px;
  cursor: pointer;
}

/* 菜單按鈕樣式 */
.menu-btn .bar {
  width: 40px;
  height: 3px;
  margin: 7px auto;
  background-color: rgb(85, 85, 85);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* 菜單按鈕樣式 */
.menu-btn .bar:nth-child(2) {
  width: 20px;
}
#menu-btn:checked ~ nav {
  opacity: 1;
  visibility: visible;
}
#menu-btn:checked ~ nav ul {
  top: 300px;
}
#menu-btn:checked ~ nav ul li {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
#menu-btn:checked ~ nav ul li:nth-child(1) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
#menu-btn:checked ~ nav ul li:nth-child(2) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
#menu-btn:checked ~ nav ul li:nth-child(3) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
#menu-btn:checked ~ nav ul li:nth-child(4) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}
#menu-btn:checked + label.menu-btn .bar {
  background-color: rgb(242, 255, 57);
}
#menu-btn:checked + label.menu-btn .bar:nth-child(2) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}
#menu-btn:checked + label.menu-btn .bar:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}
#menu-btn:checked + label.menu-btn .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}


/* 關於我們 */
#about-content{
height: 2160px;
}

#about-content>div {
  background: #fff;
  text-align: center;
}

#about-content h3, p{
  text-align: center;
  padding: 10px;
}

#about-content h3 {
 font-size: 50px;
}

#about-content p {
  line-height: 3;
  padding: 15px;
}

#about-content-1{
  height: 500px;
  background: rgb(48, 190, 255);
  }
  