@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');


* {
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LOGO */
.logo img {
  width: 130px;
  height: 130px;
  margin: 50px 70px;
  position: fixed;
}

/* 菜單背景 */
ul span {
  font-size: 15px;
  top: 0;
  float: left;
  font-weight: 10px;
}

nav {
  background-color: #252525;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

/* 菜單選項 */
nav ul {
  list-style-type: none;
  position: absolute;
  left: 50%;
  top: 170px;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 150px 200px;
}

nav ul li {
  transform: translateY(50px);
  opacity: 0;
}

nav ul li a {
  display: block;
  font-size: 40px;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  color: #e2e2e2;
  transition: all 0.5s ease-in-out;
}

nav ul li a:hover {
  color: #ffe552;
}

/* 菜單按鈕位置 */
.menu-btn {
  display: block;
  position: fixed;
  z-index: 10;
  right: 100px;
  top: 80px;
  cursor: pointer;
}

/* 菜單按鈕樣式 */
.menu-btn .bar {
  width: 40px;
  height: 3px;
  margin: 7px auto;
  background-color: #555555;
  transition: all 0.3s ease-in-out;
}

/* 菜單按鈕樣式 */
.menu-btn .bar:nth-child(2) {
  width: 20px;
}

#menu-btn:checked~nav {
  opacity: 1;
  visibility: visible;
}

#menu-btn:checked~nav ul {
  top: 300px;
}

#menu-btn:checked~nav ul li {
  transform: translateY(0px);
  opacity: 1;
}

#menu-btn:checked~nav ul li:nth-child(1) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}

#menu-btn:checked~nav ul li:nth-child(2) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}

#menu-btn:checked~nav ul li:nth-child(3) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}

#menu-btn:checked~nav ul li:nth-child(4) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}

#menu-btn:checked+label.menu-btn .bar {
  background-color: #f2ff39;
}

#menu-btn:checked+label.menu-btn .bar:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
}

#menu-btn:checked+label.menu-btn .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#menu-btn:checked+label.menu-btn .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* 關於我們 */
#about-banner {
  width: 100%;
  height: 500px;
  background-image: url("./img/About-banner.jpg");
  background-attachment: scroll;
  background-position: center;
}

#ABOUT,
#CONTACT {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#aboutUS-pic,
#contactUS-pic {
  background-image: url("./img/apple.jpg");
  height: 500px;
  background-size: cover;
}

#aboutUS-content h3,
#aboutUS-content p {
  padding: 30px 60px;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
  line-height: 2;
}

#contactUS-content h3,
#contactUS-content p {
  padding: 50px 60px;
}

#aboutUS-content h3,
#contactUS-content h3 {
  font-size: 60px;
  font-weight: normal;
}

#aboutUS-content hr {
  width: 800px;
  margin-left: 60px;
}

#contactUS-content hr {
  width: 800px;
  margin-left: 60px;
}

#contactUS-content a {
  margin-left: 60px;
  padding: 15px 60px;
  text-decoration: none;
  color: #555555;
  border: 3px solid rgb(5, 5, 5);
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
}

#contactUS-content a:hover {
  color: rgb(15, 15, 15);
  background: rgb(233, 212, 22);
}

/* <!-- 頁尾 --> */
footer {
  background: #252525;
  text-align: center;
}

footer #box2 {
  text-align: center;
  letter-spacing: 30px;
  padding-left: 30px;
  padding-top: 50px;
  color: rgb(219, 219, 219);
}

footer #box2 a {
  padding-top: 50px;
  /* 濾鏡 */
  filter: opacity(100%);
  transition: 0.5s;
}

footer #box2 a:hover {
  filter: opacity(10%);
}

footer p {
  padding: 20px;
  font-size: 10px;
  color: #aaa;
  letter-spacing: 2px;
  text-align: center;
}


/* 聯絡我們 */
#contact-body {
  background-image: url(./img/Contact-Banner.jpg);
  width: 100%;
  height: 100vh;
}

/* 水果產品LOGO */
.contact-logo img {
  width: 100px;
  height: 100px;
  margin: 30px 860px;
}

.contact-logo hr {
  width: 100px;
  margin-left: 880px;
  margin-top: 10px;
}

#form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.map {
  padding-left: 250px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.contact-details p {
  display: block;
  line-height: 23pt;
  padding-bottom: 10px;
  margin-left: 35px;
  font-size: 12pt;
}

.ctd {
  font-weight: 900;
  font-size: 12pt;
}

.contact-details hr {
  width: 500px;
  margin-left: 100px;
  margin-top: 5px;
}

.form {
  display: block;
  line-height: 26px;
  padding-left: 90px;
  padding-top: 13px;

}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  padding: 20px 67px 20px 20px;
  border: 0;
  background: #EDEDED;
  margin: 6px 10px;
}

.form textarea {
  width: 500px;
  display: block;
  color: #666;
  resize: none;
}

.form input[type="submit"] {
  padding: 15px 40px;
  color: #fff;
  border: 0;
  background: #4e4e4e;
  font-size: 15px;
  text-transform: uppercase;
  margin: 7px 10px;
  cursor: pointer;
  transition: 0.5s;
}

.form input[type="submit"]:hover {
  background: #e2e2e2;
  color: #000;
}


/* 水果產品 */
.fruit-logo {
  width: 100%;
  height: 20vh;
}

.fruit-logo img {
  width: 100px;
  height: 100px;
  margin: 50px 80px;
}


.container {
  height: 100vh;
  width: 100%;
}

.container-fruit {
  height: 80vh;
  width: 100%;
  display: flex;
}

.red,
.orange,
.yellow,
.green,
.blue,
.green2,
.purple {
  display: flex;
  height: 80vh;
  width: 100%;
  border-radius: 30px 0px 0px 0px;
  transition: 0.4s ease-out;
  position: relative;
  cursor: pointer;
}

.hlg,
.banana,
.juzi,
.siga,
.kiwi,
.lanmei,
.grape {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.banana {
  background-image: url("./img/banana.png");
}

.juzi {
  background-image: url("./img/orange.png");
}

.hlg {
  background-image: url("./img/dragonfruit-b.png");
}

.siga {
  background-image: url("./img/siga.png");
}

.lanmei {
  background-image: url("./img/blueberry.png");
}

.kiwi {
  background-image: url("./img/kiwi.png");
}

.grape {
  background-image: url("./img/grape.png");
}

.red:not(:first-child),
.orange:not(:first-child),
.yellow:not(:first-child),
.green:not(:first-child),
.blue:not(:first-child),
.green2:not(:first-child),
.purple:not(:first-child) {
  margin-left: -50px;
}

.red:hover,
.orange:hover,
.yellow:hover,
.green:hover,
.blue:hover,
.green2:hover,
.purple:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.red:hover~.red,
.orange:hover~.orange,
.yellow:hover~.yellow,
.green:hover~.green,
.blue:hover~.blue,
.green2:hover~.green2,
.purple:hover~.purple {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}


.red {
  background-color: #BA243D;
}

.orange {
  background-color: #FF7A45;
}

.yellow {
  background-color: #FFED54;
}

.green {
  background-color: #8fc43a;
}

.green2 {
  background-color: #919b3a;
}

.blue {
  background-color: #1f76a1;
}

.purple {
  background-color: #a548d8;
}


/* 水果介紹區塊 */
#d-intro,
#o-intro,
#b-intro,
#s-intro,
#k-intro,
#g-intro,
#l-intro {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background:white;
}


/* 水果介紹照片 */
#d-intro img , #b-intro img, #o-intro img, #k-intro img{
margin-left:80px;
margin-top: 50px;
width: 800px;
}

/* 水果介紹内容 */
.d-content,
.o-content,
.b-content,
.s-content,
.k-content,
.g-content,
.l-content {
  color: white;
  margin-top: 80px;
}

/* 水果標題 */
.d-content h1,
.o-content h1,
.b-content h1,
.s-content h1,
.k-content h1,
.g-content h1,
.l-content h1 {
  font-size: 80px;
  padding-left: 50px;
  font-weight: 700;
  color:#BA243D;
}

.d-content p,
.o-content p,
.b-content p,
.s-content p,
.k-content p,
.g-content p,
.l-content p {
  font-size: 20px;
  line-height: 50px;
  padding:50px 300px 0px 50px;
  padding-right: 300px;
  text-align: justify;
  color: #4e4e4e;
}



#d-good{
  width: 100%;
  height: 800px;
  background:#fff;
  color:#BA243D;
}

#good-title h2{
  font-size: 65px;
  padding-top: 150px;
  font-weight: bolder;
  text-align: center;
}

#good-title p{
  text-align: center;
  font-size: 20px;
  padding-top: 50px ;
  padding-bottom: 60px;
  color: #4e4e4e;
}

#d-goodcontent{
display: grid;
grid-template-columns: 1fr 1fr;
}

.goodcontent-1 ul, .goodcontent-2 ul{
  font-size: 20px;
line-height: 40px;
}

.goodcontent-1 ul{
  padding-left: 400px;
}
.goodcontent-2 ul{
  padding-left: 120px;
}


.goodcontent-1 li, .goodcontent-2 li{
  color: #4e4e4e;
  font-weight: bold;
}


.goodcontent-1 p, .goodcontent-2 p{
  font-size: 15px;
  text-align: justify;
  padding-bottom:25px;
}

/* 水果產季和地方 */
#d-info,
#o-info,
#b-info,
#s-info,
#k-info,
#g-info,
#l-info {
  width: 1200px;
  margin: 0 auto;
  height: 400px;
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: center;
  column-gap: 10px;
}

#month img{
  height: 100px;
  width: 100px;
  margin-top: 20px;
}

#month, #place{
  height: 400px;
}

#place{
  background: #fff;
  border: 5px solid #BA243D;
}

#month h2,
#place h2 {
  font-size: 40px;
  text-align: center;
  color:white;
  padding-top: 50px;
}

#place h2 {
  font-size: 40px;
  text-align: center;
  color:#BA243D;
}

#month p, #place p {
  text-align: center;
  padding-top: 20px;
}

#month p{
  color:white;
  font-size: 30px;
  line-height: 30px;
}

#place p {
  color: #4e4e4e;
  font-size: 40px;
  line-height: 80px;
}

/* 如何挑選水果 */
#d-choose,
#o-choose,
#b-choose,
#s-choose,
#k-choose,
#g-choose,
#l-choose {
  width: 100%;
  height: 600px;
  text-align: center;
}

#d-choose-box img{
  width: 80px;
  height: 80px;
}

#d-choose {
  background: white;
}

#d-choose h2{
  padding-top: 30px;
}

#d-choose h1,
#o-choose h1,
#b-choose h1,
#s-choose h1,
#k-choose h1,
#g-choose h1,
#l-choose h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color:#BA243D;
}

#d-choose-box p{
  color: #4e4e4e;
  padding-top: 30px;
  line-height: 10px;
}


#d-choose-box,
#o-choose-box,
#b-choose-box,
#s-choose-box,
#k-choose-box,
#g-choose-box,
#l-choose-box {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color:#BA243D;
}

/* 禁忌 */
#d-bad,
#o-bad,
#b-bad,
#s-bad,
#k-bad,
#l-bad
#g-bad{
  width: 100%;
  height: 500px;
}

#d-bad {
  background-color: #fff;
}

#d-bad-title h3,
#o-bad-title h3,
#b-bad-title h3,
#s-bad-title h3,
#k-bad-title h3,
#g-bad-title h3,
#l-bad-title h3 {
  text-align: center;
  padding: 50px 100px;
  color:#BA243D;
  font-weight: bolder;
  line-height: 50px;

}

#bad-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#bad-box .button {
  width: 300px;
  font-size: 20px;
  margin: 20px auto 50px;
  text-align: center;
  border-radius: 5px;
  padding: 20px 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.reason-box { 
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 200px 0;
  z-index: 1;
}

 #reason1,#reason2,#reason3,#reason4{ 
  background: white;
  padding: 100px 50px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  cursor: default;
}

#reason1 h4,#reason2 h4,#reason3 h4,#reason4 h4{
  line-height:40px;
  font-size: 20px;
  text-align: justify;
  color: #4e4e4e;
} 



/* 營養成分*/
#d-nutrition,
#o-nutrition,
#s-nutrition,
#k-nutrition,
#g-nutrition,
#b-nutrition,
#l-nutrition {
  width: 100%;
  height: 400px;
  color: white;
  text-align: center;
}

#d-nutrition{
  background-color: #BA243D;
}


#d-nutrition h2,
#o-nutrition h2,
#s-nutrition h2,
#k-nutrition h2,
#g-nutrition h2,
#b-nutrition h2,
#l-nutrition h2{
  font-size: 50px;
  padding-top: 80px;
}

#d-nutrition p,
#o-nutrition p,
#s-nutrition p,
#k-nutrition p,
#g-nutrition p,
#b-nutrition p,
#l-nutrition p {
  text-align: center;
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 60px;
  letter-spacing: 3px;
  padding-left: 3px ;
}

.d-btn a {
  padding: 10px 10px;
  text-decoration: none;
  color:white;
  border-radius: 5px;
  border: 2px solid white;
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
}

.d-btn a:hover {
  color: #BA243D;
  background: white;
}
.d-btn a span {
  opacity: 0;
  padding-left: 5px; 
  padding-right: 5px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.d-btn a:hover span {
  opacity: 1;
  padding-left: 10px; 
  padding-right: 10px;
  color: #BDB9AB;
}