* {
  font-family: 微軟正黑體;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LOGO */
.logo img {
  width: 130px;
  height: 130px;
  margin: 50px 70px;
  position: fixed;
}

/* 菜單背景 */
ul span {
  font-size: 15px;
  top: 0;
  float: left;
  font-weight: 10px;
}

nav {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

/* 菜單選項 */
nav ul {
  list-style-type: none;
  position: absolute;
  left: 50%;
  top: 170px;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
  display: grid;
      grid-template-columns: 1fr 1fr;
  grid-gap: 150px 200px;
}

nav ul li {
  transform: translateY(50px);
  opacity: 0;
}

 nav ul li a {
  display: block;
  font-size: 40px;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  color: #e2e2e2;
  transition: all 0.5s ease-in-out;
}

nav ul li a:hover {
  color: #ffe552;
}

/* 菜單按鈕位置 */
.menu-btn {
  display: block;
  position: fixed;
  z-index: 10;
  right: 100px;
  top: 80px;
  cursor: pointer;
}

/* 菜單按鈕樣式 */
.menu-btn .bar {
  width: 40px;
  height: 3px;
  margin: 7px auto;
  background-color: #555555;
  transition: all 0.3s ease-in-out;
}

/* 菜單按鈕樣式 */
.menu-btn .bar:nth-child(2) {
  width: 20px;
}

#menu-btn:checked ~ nav {
  opacity: 1;
  visibility: visible;
}

#menu-btn:checked ~ nav ul {
  top: 300px;
}

#menu-btn:checked ~ nav ul li {
  transform: translateY(0px);
  opacity: 1;
}

#menu-btn:checked ~ nav ul li:nth-child(1) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}

#menu-btn:checked ~ nav ul li:nth-child(2) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}

#menu-btn:checked ~ nav ul li:nth-child(3) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}

#menu-btn:checked ~ nav ul li:nth-child(4) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}

#menu-btn:checked + label.menu-btn .bar {
  background-color: #f2ff39;
}

#menu-btn:checked + label.menu-btn .bar:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
}

#menu-btn:checked + label.menu-btn .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#menu-btn:checked + label.menu-btn .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* 關於我們 */
#about-banner {
  width: 100%;
  height:500px;
  background-image: url("./img/BANNER.jpg");
  background-attachment: fixed;
  background-position: center;
}

#ABOUT,#CONTACT {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

 #aboutUS-pic , #contactUS-pic{
    background-image: url("./img/apple.jpg");
    height: 500px;
    background-size: cover;
}

 #aboutUS-content h3,p{
  padding: 30px 60px;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
  line-height: 2;
}

#contactUS-content h3,p{
  padding: 50px 60px;
}

#aboutUS-content h3, #contactUS-content h3 {
  font-size: 60px;
  font-weight: normal;
}

 #aboutUS-content hr{
  width: 800px;
  margin-left: 60px;
}

 #contactUS-content hr{
  width: 800px;
  margin-left: 60px;
}

#contactUS-content a{
  margin-left: 60px;
  padding: 15px 60px;
  text-decoration: none;
  color: #555555;
  border: 3px solid rgb(5, 5, 5);
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
}

#contactUS-content a:hover {
  color: rgb(15, 15, 15);
  background: rgb(233, 212, 22);
}

/* <!-- 頁尾 --> */
footer {
  background: #252525;
  text-align: center;
}

footer #box2 {
  text-align: center;
  letter-spacing: 30px;
  padding-left: 30px;
  padding-top: 50px;
  color: rgb(219, 219, 219);
}

footer #box2 a {
  padding-top: 50px;
  /* 濾鏡 */
  filter: opacity(100%);
  transition: 0.5s;
}

footer #box2 a:hover {
  filter: opacity(10%);
}

footer p {
  padding: 20px;
  font-size: 10px;
  color: #aaa;
  letter-spacing: 2px;
  text-align: center;
}


/* 聯絡我們 */
#contact-body{
  background-image: url(./img/Contact-Banner.jpg);
  width: 100%;
  height: 100vh;
}

.contact-logo img{
  width: 150px;
    height: 150px;
    margin: 30px 860px ;
    }

.contact-logo hr{
  width: 100px;
  margin-left: 880px;
  margin-top: 10px;
}

#form-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.map{
padding-left: 250px;
padding-top: 50px;
padding-bottom: 100px;
 }

 .contact-details p{
  display: block;
  line-height: 23pt;
  padding-bottom: 10px;
  margin-left : 35px;
  font-size: 12pt;
 }

.ctd{
  font-weight: 900;
  font-size: 12pt;
}

.contact-details hr{
  width: 500px;
 margin-left: 100px;
  margin-top: 5px;
}

.form {
	display: block;
  line-height: 26px;
  padding-left: 90px;
  padding-top: 13px;

}

.form input[type="text"], 
.form input[type="email"],
.form textarea {
    padding: 20px 43px;
    border: 0;
    background: #EDEDED;
    margin: 6px 10px;
}
.form textarea {
	width: 500px;
	display: block;
	color: #666;
  resize:none;
}
.form input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #4e4e4e;
    font-size: 15px;
    text-transform: uppercase;
    margin: 7px 10px;
    cursor: pointer;
    transition: 0.5s;
}

.form input[type="submit"]:hover{
  background: #e2e2e2;
  color: #000;
}